.loginpage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.loginform-container{ 
    border: 1px solid #cecece;    
    height: 400px;
    width: 350px;
    padding: 10px 20px;
    background: #fff;
}

.input-container{
    border: 1px solid #cecece; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    padding: 2px 15px;
    border-radius: 25px;
}

.logininput{
    flex: 90%;
    height: 35px;
    border: none !important;
    outline: none !important;
}

.inputicon{
    flex: 10%;
    text-align: center;
}

.submitbtn{
    background: #3897f0;
}

.submitinput{
    width: 100%;
    background: transparent;
    outline: none !important;
    border: none;
    height: 30px;
    color: white !important;
    font-size: 14px;
    font-weight: 600;
    opacity: 1 !important;
}

@media screen and (max-width: 700px) {
    .loginpage{
        background: #fff;
    }
    .loginform-container{
        width: 100%;
        background: #fff;
        border: none;
    }
}