.header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(76,87,102,.1);
  background: #fff;
}

.nav{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  cursor: pointer;
  color: black !important;
  text-decoration: none;
}

.nav-item{
  display: inline;
  padding: 10px 20px;
}

.account-image{
  height: 45px;
  width: 45px;
  background: grey;
  border-radius: 50%;  
}

.roundimg{
  height: 100%;
  width: 100%;
  border-radius: 50%; 
}

.dropdown{
  display: none;
  padding: 2px 10px;
  z-index: 1;
  background: #fff;
  position: absolute;
  border: 1px solid #cecece;
  width: 150px;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
}

.dropdown-toggle{
  position: relative;
}

.dropdown-toggle:hover .dropdown{
  display: block;
}

.account-holder{
  padding: 0 20px;
}

.account-dropdown{
  right: 10px;
}

.dropdown-item{
  padding: 5px;
}

.profilecover{
  background: rebeccapurple;
  height: 225px;
}

.relative{
  position: relative;
}

.profileimagebg{
  position: relative;
  background: #fff;
  padding: 2px;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  bottom: -56%;
  right: -25%;
}

.profileimage{
  width: 100%;
  height: 100%;
}

.activeblock{
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  top: 75%;
  right: 6%;
  padding: 2px;
  border-radius: 50%; 
}

.activeblock div{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.greenblock{
  background: green;
}

.text-center{
  text-align: center !important;
}

.profilename{
  font-size: 44px;
  margin: 0;
  padding: 0;
}

.profilenamediv{
  color: white;
  align-self: flex-end !important;
}

.profile-flex-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.flex-container {
  display: flex;flex-direction: row;
  align-items: stretch;
}

@media screen and (max-width: 700px) {
  .flex-container{
    flex-direction: column;
  }
  .profile-flex-container {   
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .order1{
    order: 1;
  }
  .order2{
    order: 2;
  }
  .profile-name-flex{
    align-self: center !important;
  }
  .profileimagebg{
    bottom: -20%;
    right: 5px;
  }
  .profilenamediv{
    margin-top: 30px; 
  }
  .profileage{
    text-align: center;
  }
  .profilegallery{
    flex-direction: row;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .profilegallery img{
    flex: 100%;
  }
}

.flex-1{
  flex: 10%;
}
.flex-2{
  flex: 20%;
}
.flex-3{
  flex: 30%;
}
.flex-4{
  flex: 40%;
}
.flex-5{
  flex: 50%;
}
.flex-6{
  flex: 60%;
}
.flex-7{
  flex: 70%;
}
.flex-8{
  flex: 80%;
}

.profile-name-flex{
  padding-top: 10px;
  align-self: flex-end;
}

.profileage{
  padding: 2px 0;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.profilelocation{
  height: 100px;
  /* border-bottom: 1px solid rgba(76,87,102,.1); */
}

.profiledetails{
  margin: 0 30px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 10px;
}

.sidedetaisldiv{
  padding: 25px 0 0 0;
}

p {
  margin: 0;
}

.bold{
  font-weight: 600;
  font-size: 16px;
}

.f14{
  font-size: 14px;
}

.profilegallery {
  display: flex;
  flex-wrap: wrap;
}

.profilegallery img{
  flex-basis: 150px;
  height: 140px;
  object-fit: contain;
  margin: 10px;
  border: 1px solid rgba(0,0,0,0.2);
}

.p10{
  padding: 10px;
}

.map-container{
  height: calc(100vh - 65px);
  width: 100%;
}

.usersfixed{
  top: 65px;
  height: calc(100vh - 65px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.roundmarker{
  display: block;
  position: relative;
  width: 45px;
  height: 45px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 50%;
  border: 3px solid rebeccapurple;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;  
}

.roundmarker:after{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: rebeccapurple transparent transparent transparent;
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  margin: auto;
}

.infoimage{
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 115%;
  left: -145%;
}

/* .roundmarker:hover .infoimage{
  display: block;
} */

.userdiv{
  margin: 10px;
  padding: 10px;
  border: 1px solid #cecece;
  height: 100px;
}

.userimage{
  width: 100%;
  height: 95px;
  object-fit: contain;
}

.loadingdiv{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 10px; 
}

.loader{
  height: 30px;
  width: 30px;
}

.loginloader{
  height: 26px;
  width: 26px;
}