@font-face{
  font-family: "Gotham Book";
  src: url(https://js.driftt.com/dist/static/fonts/cc4e72bde1aa38ceeb75e0c140ffa99c.otf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham Light",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

